@media screen and (min-width: 1440px) and (max-width: 1599px){     }




html {
  height:100%
  
}


body {
  background: #c9bddf8c;
color: rgb(255, 255, 255);

}


.rectangle {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  margin-top: 4%;
  width: 450px;
  height: 720px;
  background: #ffffff;
  border-radius: 30px;
  
 
  
  
  

}

.buttontw {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  
  
  border-style: none;
  width: 340px;
  height: 50px;
  background: #3d125a75;
  border-radius: 30px;
  position: absolute;
  margin: 370px auto 0 auto; 
  cursor: pointer;
  
}

.buttonvk {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  

  border-style: none;
  width: 340px;
  height: 50px;
  background: #3d125a75;
  border-radius: 30px;
  position: absolute;
  margin: 470px auto 0 auto; 
  cursor: pointer;

}

.buttonsteam {  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  

 


  border-style: none;
  width: 340px;
  height: 50px;
  background: #3d125a75;
  border-radius: 30px;
  position: absolute;
  margin: 570px auto 0 auto; 
  cursor: pointer;
  position: absolute;
  
 
}

.buttonsteam:hover{
  background-color:#d9dce6;
  transition: 0.2s;
} 

.buttontw:hover{
  background-color:#d9dce6;
  transition: 0.2s;
} 

.buttonvk:hover{
  background-color:#d9dce6;
  transition: 0.2s;
} 

.img{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  right:0.5%;
  position: absolute;
  border-radius: 400px;
  width: 150px;
  height: 150px;
  right: 10px;

  position: absolute;
  margin: 110px auto; 
  

}

p{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  

 
 right: -245px;
  color: #000;
  width: 340px;
  height: 50px;
  position: absolute;
  margin: 280px auto; 


}

.pricol{
  top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
color:rgb(0, 0, 0);
border-style: none;
width: 340px;
height: 50px;

right: -200px;
position: absolute;
margin: 700px auto  auto; 
cursor: pointer;
position: absolute;


}


